/* CSS RESET BY JOSH W COMEAU*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-display: swap;
  width: 100%;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*-----------------------------------------*/
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 12, 2025 */



@font-face {
    font-family: 'makoregular';
    src: url('./mako/mako-regular-webfont.woff2') format('woff2'),
         url('./mako/mako-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

#side{
  height: 100vh;
  background-color: aqua;
  width: 50vw;
}

#side>img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#signup-section {
  background: linear-gradient(to bottom,#78dbfc, #e9e9e9);
  width: 60vw;
  height: 100vh;
  padding: 40px;
  font-family: "makoregular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin-bottom: 15px;
  text-align: justify;
}

h3 {
  font-style: italic;
  margin-bottom: 15px;
}

p,h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: 2px solid rgb(56, 53, 53);
  border-radius: 10px;
  padding: 10px;
  min-width: fit-content;
  width: 50vw;
  min-height: fit-content;
}


label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 200px;
  height: 40px;
  border: 3px solid #3c6d18;
  border-radius: 5px;
}

button {
  width:200px;
  border: 3px solid #3c6d18;
  border-radius: 5px;
  height: 35px;
}

button:hover{
  background: #438017;
  color: white;
}
input:focus{
  outline:none;
}

input:required:focus {
  border:3px solid red;
}

input:required:focus:valid {
  border: 3px solid #3c6d18;
}

input::placeholder {
  color: transparent;
}


@media  screen and (min-width: 600px) {
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 400px;
  }

  input, select, button {
    width: 220px
  }

  button {
    margin: 0;
  }
}
